

/* GENERAL */
*{box-sizing: border-box;}
body{
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 .833em;
    font-weight: 500;
    line-height: 1.4;
}
img{
    width: 100%;
    height: 100%;
}
button{
    outline:none;
}
button:hover{
    cursor: pointer;
}
@font-face {
    font-family: lato-bold;
    src: url(../fonts/lato/Lato-Bold.ttf);
}
@font-face{
    font-family: lato-regular;
    src: url(../fonts/lato/Lato-Regular.ttf);
}
@font-face{
    font-family: euro;
    src: url(../fonts/eurofurence/eurof55.ttf);
}
@font-face{
    font-family: impact;
    src: url(../fonts/impact/impact.ttf);
}







/* HELPERS */
.flex {
    display: flex;
}
.hide{
    display: none;
}

.flex.space-between {
    justify-content: space-between;
}
.flex.align-center {
    align-items: center;
}


/* list helpers */
.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* NAV */
.menu-button{
    display:none;
}

.main-nav{
    background-color: #FF7F00;
    color: #FFFFFF;
    width: 100%;
    box-shadow: inset 0px -4px 8px 1px whitesmoke;
    padding-left: 100px;
    padding-right: 100px;

    /* position: fixed; */
}
.nav-brand{
    flex:1;
}
.nav-brand img{
    width: 133px;
}
.nav-list{
    flex:1;
}


.nav-list > *{
    font-family: lato-bold;
    width: 100%;
    text-align: center;
}



li a{
    text-decoration: none;
    color: white;
    height: 66px;
    transition: color .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}


li:hover >*{
color:#000000;
}
.nav-list > *:hover{
    box-shadow: inset 0px -4px 8px 1px #b45c034f;
}

.nav-container{
    width:100%;
}

/* MAIN */
main{
    display: flex;
    flex-direction: column;
}

/* GALLERY */

#gallery{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    grid-auto-rows: 250px;
    grid-gap: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
#gallery img:hover{
    cursor: pointer;
    box-shadow: 2px 2px 8px 4px rgb(134 134 134);
}







/* CANVAS */
#editor{
    background-color:#E3E3E3;
    padding: 50px 50px;
    /* display: none; */
}
#my-canvas{
    box-shadow: 0px 0px 7px 6px rgba(255, 255, 255, 0.74);
}
.canvas-container {
    justify-content: space-evenly;    
}

/* CANVAS CONTROLS */
.controls-container{
    display: grid;
    grid-template-columns: repeat(5,60px);
    grid-template-rows: repeat(6,60px);
    grid-gap: 10px;   
}
.controls-container button{
    background-color: rgba(255, 253, 253, 0.74);
    border-radius: 10px;
    padding:5px;
    border: none;
}
.controls-container button:hover{
    box-shadow: 0px 0px 5px 1px rgb(134, 134, 134);
}

.input-color{
    opacity: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.input-text {
    grid-row:1/2;
    grid-column: 1/-1;
    border:none;
    outline:none;
    border-radius: 10px;
    text-align: center;
} 
.move-up{
    grid-row:2/3;
    grid-column: 2/4;
}
.move-down{
    grid-row:2/3;   
    grid-column: 4/6;

}
.up-down{
    grid-row:3/4;
    grid-column: 2/3;
}
.add{
    grid-row:3/4;
    grid-column: 3/4;
}
.trash{
    grid-row:3/4;
    grid-column: 4/5;
}
.increase{
grid-row:4/5;
grid-column:1/2;
}
.decrease{
    grid-row:4/5;
    grid-column:2/3;
}
.align-left{
    grid-row:4/5;
    grid-column:3/4;
}
.align-center{
    grid-row:4/5;
    grid-column:4/5;
}
.align-right{
    grid-row:4/5;
    grid-column:5/6;
}
.select{
    grid-row:5/6;
    grid-column:1/4;
    cursor: pointer;
}
.stroke-color{
    /* background-image: url(../ICONS/text\ stroke.png); */
    border-radius: 10px;
    background-color: black;
    grid-row:5/6;
    grid-column:4/5;
}
.text-color{
    border-radius: 10px;
    /* background-image: url(../ICONS/paint-board-and-brush.png); */
    background-color: black;
    grid-row:5/6;
    grid-column:5/6;
}
.btn {
    background: #FF7F00;
    border: 1px solid #ffffff;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 5px;
    user-select: none;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    grid-row: 6/7;
    grid-column: 1/4;
  }
  .submit-form{
      grid-row: 6/7;
      grid-column: 4/5;
  }
  .share-container{
    grid-row: 6/7;
    grid-column: 5/6; 
  }


 .controls-container button{
    width: 60px;
    height: 60px;
}
button img{
    width: 100%;
    height: 100%;
}

/* ABOUT */
.about-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 100px;
}
.about-content img{
    width: 300px;
    height: 300px;
    border-radius:50%;
}
.about-content h3 {
    color: #181717;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size:1.5625rem;
}
.about-content p {
    color: #4a4a4a;
    font-family: 'Montserrat', sans-serif;
}

  /* FOOTER */
  .main-footer{
    width: 100%;
}
.footer-content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 19.75rem;
}
.footer-content img{
    margin-bottom: 2rem;
    width: 133px;
    height: 22px;
}
.main-footer{
    background-color:#FF7F00;
}
.footer-icons{
    margin-bottom: 5rem;
}
.footer-content small{
    font-family: 'Montserrat', sans-serif;
    font-size:19px;
    color: white;
}
.footer-icons{
    width: 14.4375rem;
}
.footer-icons >*{
color: rgb(255, 255, 255);
background-color: #E5E5E5; 
font-size: 1rem;
height: 2.5rem;
width: 2.5rem;
display: flex;
justify-content: center;
align-items: center; 
}
.footer-icons>:hover{
    background-color: #516FAD;
    cursor: pointer;
}
/* MEDIUM */
@media (max-width:990px){
    #my-canvas{
        width: 400px;
        height: 400px;
    }
}

/* SMALL */

@media (max-width:740px){
    .about-content img{
        width: 200px;
        height: 200px;
        border-radius:50%;
    }
    #my-canvas{
        width: 70%;
        height: 70%;
        align-self: center;
    }
    /* #my-canvas{
        width: 550px;
        height: 550px;
    } */
    .canvas-container{
        flex-direction: column;
    }
    .controls-container{
        align-self: center;
        margin-top: 20px;
    }
    .about-text{
        width: 300px;
    }

    .nav-list{
        transition: transform .6s;
        transform: translateY(-150%);
        box-shadow: none;
    }
    .menu-button{
        display:block
    }
    ul{
        /* position: absolute; */
        flex-direction: column;
        /* top: 23%; */
        /* width: 100%; */
    }
    li a{
        background-color: #FF7F00; 
        color: white;
        transition: height .6s;
        height: 0px;
        font-size: 0.8rem;

    }
    li{
        margin-bottom:10px;
        border: none;
    }    
   
    .nav-list > *:hover{
     border-bottom: none;
    }
    body.open-menu .nav-list{
        transform: translateY(0);
    }
    body.open-menu li a{
        background-color: #FF7F00; 
        color: white;
        height: 25px;
        font-size: 0.8rem;
    }
    
    .menu-button{
        margin:10px;
        border:none;
        background-color:transparent;
        color: white;
        font-size:1.5rem;
    }   
}

@media (max-width:600px){
    .about-content img{
        width: 150px;
        height: 150px;
        border-radius:50%;
    }

}

@media (max-width:500px){
    .about-content{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    #gallery{
        padding-left: 20px;
        padding-right: 20px;
    }
    .about-content img{
        width: 100px;
        height: 100px;
        border-radius:50%;
        margin-right: 20px;
    }
    small{
        width: 50%;
    }
    #my-canvas{
        width: 50%;
        height: 50%;
        align-self: center;
    }

}